*{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    /* outline: 1px solid red; */
    outline-offset: -1px;

}

a{
    text-decoration:none;
    color:black;
}

/* Top navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding:1%;
    background-color: rgb(193, 255, 234);
    position:fixed;
    top:0;
    width:100%;
    z-index: 100;
}

.navbar-main{
    width:70%;
    display:flex;
    justify-content: right;
    align-items: center;
    flex-wrap:wrap;
}

.navbar-menu{
    width:20%;
}
.navbar-menu ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap:wrap;
}

/* Main sidebar */
.main-body{
    display:flex;
    height:91.2%;
    margin-top:57px;
}

.login-form-container{
    font-size: 1.2rem;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-image{
    width:50%;
    background-image: url('https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop');
    background-size:cover;
    background-position: center;
}

.login-form-header{
    margin-bottom:10px;
}

.login-form{
    /* border:1px rgb(158, 158, 158) solid; */
    padding:65px 45px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.login-form form input{
    font-size: 1.25rem;
}

.login-form button{
    padding:5 20px;
    font-size: 0.9rem;
    background-color: rgb(213, 252, 242);
    font-weight: 1000;
}
